In [282]:
import pandas as pd
print(pd.__version__)

2.2.3

In [283]:
import pandas as pd

# Load your UPI transaction dataset
df = pd.read_csv(r"F:\vscode\UPI\data\upi_transactions_2024.csv")

# Preview the first few rows
df.head()

,transaction id,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
0,TXN0000000001,2024-10-08 15:17:28,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,0
1,TXN0000000002,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,0
2,TXN0000000003,2024-04-02 13:27:18,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,0
3,TXN0000000004,2024-01-07 10:09:17,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,1
4,TXN0000000005,2024-01-23 19:04:23,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,0

In [284]:
df.shape

(250000, 17)

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   transaction id      250000 non-null  object
 1   timestamp           250000 non-null  object
 2   transaction type    250000 non-null  object
 3   merchant_category   250000 non-null  object
 4   amount (INR)        250000 non-null  int64
 5   transaction_status  250000 non-null  object
 6   sender_age_group    250000 non-null  object
 7   receiver_age_group  250000 non-null  object
 8   sender_state        250000 non-null  object
 9   sender_bank         250000 non-null  object
 10  receiver_bank       250000 non-null  object
 11  device_type         250000 non-null  object
 12  network_type        250000 non-null  object
 13  fraud_flag          250000 non-null  int64
 14  hour_of_day         250000 non-null  int64
 15  day_of_week         250000 non-null  object
 16  is_weekend          250000 non-null  int64
dtypes: int64(4), object(13)
memory usage: 32.4+ MB

In [286]:
df.isnull().sum()

transaction id        0
timestamp             0
transaction type      0
merchant_category     0
amount (INR)          0
transaction_status    0
sender_age_group      0
receiver_age_group    0
sender_state          0
sender_bank           0
receiver_bank         0
device_type           0
network_type          0
fraud_flag            0
hour_of_day           0
day_of_week           0
is_weekend            0
dtype: int64

In [287]:
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

In [288]:
display(df.describe(include='all'))

,transaction id,timestamp,transaction type,merchant_category,amount (INR),transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend
count,250000,250000,250000,250000,250000.000000,250000,250000,250000,250000,250000,250000,250000,250000,250000.000000,250000.000000,250000,250000.000000
unique,250000,NaN,4,10,NaN,2,5,5,10,8,8,3,4,NaN,NaN,7,NaN
top,TXN0000249984,NaN,P2P,Grocery,NaN,SUCCESS,26-35,26-35,Maharashtra,SBI,SBI,Android,4G,NaN,NaN,Monday,NaN
freq,1,NaN,112445,49966,NaN,237624,87432,87864,37427,62693,62378,187777,149813,NaN,NaN,36495,NaN
mean,NaN,2024-07-01 15:57:20.438195456,NaN,NaN,1311.756036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001920,14.681032,NaN,0.285348
min,NaN,2024-01-01 00:05:10,NaN,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000
25%,NaN,2024-04-01 15:12:57.249999872,NaN,NaN,288.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,11.000000,NaN,0.000000
50%,NaN,2024-07-01 14:34:17,NaN,NaN,629.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,15.000000,NaN,0.000000
75%,NaN,2024-09-30 18:13:45,NaN,NaN,1596.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,19.000000,NaN,1.000000
max,NaN,2024-12-30 23:55:40,NaN,NaN,42099.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,23.000000,NaN,1.000000
std,NaN,NaN,NaN,NaN,1848.059224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.043776,5.188304,NaN,0.451581

In [289]:
print(df['timestamp'].isna().sum())

0

In [290]:
# Rename columns for easier use

df.rename(columns={
    'amount (INR)': 'amount',
    'transaction id': 'transaction_id',
    'transaction type': 'transaction_type',
    'merchant_category': 'merchant_category',
    'transaction_status': 'transaction_status',
    'sender_age_group': 'sender_age_group',
    'receiver_age_group': 'receiver_age_group',
    'sender_state': 'sender_state',
    'sender_bank': 'sender_bank',
    'receiver_bank': 'receiver_bank',
    'device_type': 'device_type',
    'network_type': 'network_type',
    'fraud_flag': 'fraud_flag',
    'hour_of_day': 'hour_of_day',
    'day_of_week': 'day_of_week',
    'is_weekend': 'is_weekend'
}, inplace=True)

In [291]:
df.columns

Index(['transaction_id', 'timestamp', 'transaction_type', 'merchant_category',
       'amount', 'transaction_status', 'sender_age_group',
       'receiver_age_group', 'sender_state', 'sender_bank', 'receiver_bank',
       'device_type', 'network_type', 'fraud_flag', 'hour_of_day',
       'day_of_week', 'is_weekend'],
      dtype='object')

In [292]:
df['merchant_category'].value_counts()

merchant_category
Grocery          49966
Food             37464
Shopping         29872
Fuel             25063
Other            24828
Utilities        22338
Transport        20105
Entertainment    20103
Healthcare       12663
Education         7598
Name: count, dtype: int64

In [293]:
# Drops rows with missing critical values
#def clean_data(df):
#    df = df.dropna(subset=['transaction_status', 'timestamp', 'amount', 'merchant_category'])

    # Filters only successful transactions.
#    df = df[df['transaction_status'] == 'SUCCESS']

    # Converts the 'timestamp' column into a proper datetime format.
#    df['datetime'] = pd.to_datetime(df['timestamp'], errors='coerce', dayfirst=True)
#    df = df.dropna(subset=['datetime'])

    # Cleans merchant categories using keywords
#    df['merchant_category'] = df['merchant_category'].apply(categorize_merchant)

    # Categorizes expenses into essential and non-essential
#    df['expense_type'] = df['merchant_category'].apply(
#       lambda x: 'essential' if x in ['Groceries', 'Utilities', 'Medical'] else 'non-essential'
#    )

    # Marks whether the transaction happened on a weekend
#    df['is_weekend'] = df['datetime'].dt.weekday >= 5

#    return df

# Merchant categorization function
#def categorize_merchant(description):
#    desc = description.lower()
#    if 'swiggy' in desc or 'zomato' in desc:
#        return 'Food Delivery'
#    elif 'amazon' in desc or 'flipkart' in desc:
#        return 'Shopping'
#    elif 'electricity' in desc or 'gas' in desc:
#        return 'Utilities'
#    elif 'netflix' in desc or 'spotify' in desc:
#        return 'Entertainment'
#    elif 'grocery' in desc or 'mart' in desc:
#        return 'Groceries'
#    elif 'hospital' in desc or 'clinic' in desc or 'pharmacy' in desc:
#        return 'Medical'
#    else:
#        return 'Others'

# Apply cleaning
#df = clean_data(df)

In [294]:
import pandas as pd

# Function to clean and process transaction data
def clean_data(df):
    # Drop rows with missing important values
    df = df.dropna(subset=['transaction_status', 'timestamp', 'amount', 'merchant_category'])

    # Keep only successful transactions
    df = df[df['transaction_status'] == 'SUCCESS']

    # Convert timestamp to datetime
    df['datetime'] = pd.to_datetime(df['timestamp'], errors='coerce', dayfirst=True)
    df = df.dropna(subset=['datetime'])

    # Define essential categories
    essential_categories = {'Grocery', 'Utilities', 'Healthcare', 'Education', 'Fuel', 'Transport'}

    # Tag each transaction as essential or non-essential
    df['expense_type'] = df['merchant_category'].apply(
        lambda x: 'essential' if x in essential_categories else 'non-essential'
    )

    # Identify if transaction occurred on a weekend
    df['is_weekend'] = df['datetime'].dt.weekday >= 5

    return df

df = clean_data(df)

# Preview cleaned data
df.head()

,transaction_id,timestamp,transaction_type,merchant_category,amount,transaction_status,sender_age_group,receiver_age_group,sender_state,sender_bank,receiver_bank,device_type,network_type,fraud_flag,hour_of_day,day_of_week,is_weekend,datetime,expense_type
0,TXN0000000001,2024-10-08 15:17:28,P2P,Entertainment,868,SUCCESS,26-35,18-25,Delhi,Axis,SBI,Android,4G,0,15,Tuesday,False,2024-10-08 15:17:28,non-essential
1,TXN0000000002,2024-04-11 06:56:00,P2M,Grocery,1011,SUCCESS,26-35,26-35,Uttar Pradesh,ICICI,Axis,iOS,4G,0,6,Thursday,False,2024-04-11 06:56:00,essential
2,TXN0000000003,2024-04-02 13:27:18,P2P,Grocery,477,SUCCESS,26-35,36-45,Karnataka,Yes Bank,PNB,Android,4G,0,13,Tuesday,False,2024-04-02 13:27:18,essential
3,TXN0000000004,2024-01-07 10:09:17,P2P,Fuel,2784,SUCCESS,26-35,26-35,Delhi,ICICI,PNB,Android,5G,0,10,Sunday,True,2024-01-07 10:09:17,essential
4,TXN0000000005,2024-01-23 19:04:23,P2P,Shopping,990,SUCCESS,26-35,18-25,Delhi,Axis,Yes Bank,iOS,WiFi,0,19,Tuesday,False,2024-01-23 19:04:23,non-essential

In [295]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237624 entries, 0 to 249999
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   transaction_id      237624 non-null  object
 1   timestamp           237624 non-null  datetime64[ns]
 2   transaction_type    237624 non-null  object
 3   merchant_category   237624 non-null  object
 4   amount              237624 non-null  int64
 5   transaction_status  237624 non-null  object
 6   sender_age_group    237624 non-null  object
 7   receiver_age_group  237624 non-null  object
 8   sender_state        237624 non-null  object
 9   sender_bank         237624 non-null  object
 10  receiver_bank       237624 non-null  object
 11  device_type         237624 non-null  object
 12  network_type        237624 non-null  object
 13  fraud_flag          237624 non-null  int64
 14  hour_of_day         237624 non-null  int64
 15  day_of_week         237624 non-null  object
 16  is_weekend          237624 non-null  bool
 17  datetime            237624 non-null  datetime64[ns]
 18  expense_type        237624 non-null  object
dtypes: bool(1), datetime64[ns](2), int64(3), object(13)
memory usage: 34.7+ MB

In [296]:
# Drop unwanted columns : 'transaction_status'(already filtered for SUCCESS)

df = df.drop(columns=['timestamp', 'transaction_status', 'receiver_age_group', 'sender_bank', 'receiver_bank', 'device_type', 'network_type' ])

In [297]:
df.columns

Index(['transaction_id', 'transaction_type', 'merchant_category', 'amount',
       'sender_age_group', 'sender_state', 'fraud_flag', 'hour_of_day',
       'day_of_week', 'is_weekend', 'datetime', 'expense_type'],
      dtype='object')

In [298]:
df.shape

(237624, 12)

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 237624 entries, 0 to 249999
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   transaction_id     237624 non-null  object
 1   transaction_type   237624 non-null  object
 2   merchant_category  237624 non-null  object
 3   amount             237624 non-null  int64
 4   sender_age_group   237624 non-null  object
 5   sender_state       237624 non-null  object
 6   fraud_flag         237624 non-null  int64
 7   hour_of_day        237624 non-null  int64
 8   day_of_week        237624 non-null  object
 9   is_weekend         237624 non-null  bool
 10  datetime           237624 non-null  datetime64[ns]
 11  expense_type       237624 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(3), object(7)
memory usage: 22.0+ MB

In [300]:
df.to_csv("F:/vscode/UPI/data/upi_transactions_cleaned.csv", index=False)

In [301]:
# LLM stands for Large Language Model.
# It’s an AI model (like ChatGPT) that understands and generates human-like text.
# You can ask it questions, give it data, and it gives you smart responses — summaries, insights, suggestions, etc.

# You use an LLM to:
# Analyze UPI spending
# Detect patterns or wasteful habits
# Give financial advice in plain English

In [302]:
# What is Langflow?
# Langflow is a drag-and-drop visual tool to build LLM-powered workflows — like a flowchart for your AI logic.
# It helps you connect parts: CSV loader → data agent → LLM → output, all visually.
# You don’t need to code the full pipeline — just design it step by step.

In [303]:
import pandas as pd

# Load cleaned data
df = pd.read_csv(r'F:\vscode\UPI\data\upi_transactions_cleaned.csv', parse_dates=['datetime'])

In [304]:
# MODEL DEVELOPMENT

In [305]:
# Spending Pattern Analysis:

# Calculate total spend per category, essential vs non-essential split, and average transaction amount.

def spending_patterns(df):
    total_spend = df['amount'].sum()
    spend_by_category = df.groupby('merchant_category')['amount'].sum().sort_values(ascending=False)
    spend_essential = df[df['expense_type'] == 'essential']['amount'].sum()
    spend_non_essential = df[df['expense_type'] == 'non-essential']['amount'].sum()
    avg_transaction = df['amount'].mean()

    return {
        "total_spend": total_spend,
        "spend_by_category": spend_by_category,
        "spend_essential": spend_essential,
        "spend_non_essential": spend_non_essential,
        "avg_transaction": avg_transaction
    }

patterns = spending_patterns(df)
print(patterns)

{'total_spend': np.int64(311181812), 'spend_by_category': merchant_category
Shopping         72903012
Grocery          55286473
Utilities        50077142
Fuel             37125870
Education        36514257
Other            19998845
Food             18921358
Entertainment     7899072
Healthcare        6544380
Transport         5911403
Name: amount, dtype: int64, 'spend_essential': np.int64(191459525), 'spend_non_essential': np.int64(119722287), 'avg_transaction': np.float64(1309.555482611184)}

In [306]:
# Group by both merchant_category and expense_type
category_expense_summary = df.groupby(['merchant_category', 'expense_type'])['amount'].sum().unstack(fill_value=0)

# Optional: add a total column and sort
category_expense_summary['Total'] = category_expense_summary.sum(axis=1)
category_expense_summary = category_expense_summary.sort_values('Total', ascending=False)

# Show summary
print(category_expense_summary)

expense_type       essential  non-essential     Total
merchant_category
Shopping                   0       72903012  72903012
Grocery             55286473              0  55286473
Utilities           50077142              0  50077142
Fuel                37125870              0  37125870
Education           36514257              0  36514257
Other                      0       19998845  19998845
Food                       0       18921358  18921358
Entertainment              0        7899072   7899072
Healthcare           6544380              0   6544380
Transport            5911403              0   5911403

In [307]:
# Time-based Trends

# Analyze spending by hour, day of week, and monthly spend.
def time_trends(df):
    df['month'] = df['datetime'].dt.to_period('M')

    spend_by_hour = df.groupby('hour_of_day')['amount'].sum()
    spend_by_day = df.groupby('day_of_week')['amount'].sum()
    spend_by_month = df.groupby('month')['amount'].sum()

    return {
        "spend_by_hour": spend_by_hour,
        "spend_by_day": spend_by_day,
        "spend_by_month": spend_by_month
    }

# Call the function
trends = time_trends(df)

# Print each trend section neatly
print("=== Spend by Hour ===")
print(trends['spend_by_hour'])

=== Spend by Hour ===
hour_of_day
0      4264921
1      2685004
2      2073194
3      1584140
4      1577472
5      2052072
6      4359911
7      7160305
8     10368319
9     13163603
10    17435305
11    20006704
12    22216967
13    18935891
14    14074375
15    15788851
16    17021557
17    23291155
18    25003128
19    26784058
20    22499372
21    19993591
22    11431054
23     7410863
Name: amount, dtype: int64

In [308]:
print("\n=== Spend by Day of Week ===")
print(trends['spend_by_day'])
print("\n=== Spend by Month ===")
print(trends['spend_by_month'])

=== Spend by Day of Week ===
day_of_week
Friday       44086713
Monday       45475045
Saturday     43364372
Sunday       45149034
Thursday     44206806
Tuesday      44463291
Wednesday    44436551
Name: amount, dtype: int64

=== Spend by Month ===
month
2024-01    26076535
2024-02    24606746
2024-03    25974535
2024-04    25615791
2024-05    26634941
2024-06    25596252
2024-07    26681032
2024-08    26395838
2024-09    25569730
2024-10    26506617
2024-11    25463202
2024-12    26060593
Freq: M, Name: amount, dtype: int64

In [309]:
# Category-wise Summaries

# Summarize spend, count, and average per category.
def category_summary(df):
    summary = df.groupby('merchant_category').agg(
        total_spend=('amount', 'sum'),
        transaction_count=('amount', 'count'),
        avg_spend=('amount', 'mean')
    ).sort_values('total_spend', ascending=False)
    return summary

cat_summary = category_summary(df)
print(cat_summary)

                   total_spend  transaction_count    avg_spend
merchant_category
Shopping              72903012              28353  2571.262724
Grocery               55286473              47463  1164.833091
Utilities             50077142              21252  2356.349614
Fuel                  37125870              23859  1556.053062
Education             36514257               7199  5072.129046
Other                 19998845              23598   847.480507
Food                  18921358              35588   531.678038
Entertainment          7899072              19113   413.282687
Healthcare             6544380              12051   543.057008
Transport              5911403              19148   308.721694

In [310]:
#  Wasteful Transaction Detection 

# Define "wasteful" as high non-essential spend transactions above a threshold.

def detect_wasteful_transactions(df, threshold=1000):
    # Example: non-essential transactions > threshold 
    wasteful = df[(df['expense_type'] == 'non-essential') & (df['amount'] > threshold)]
    return wasteful

wasteful_txns = detect_wasteful_transactions(df)
print(wasteful_txns[['transaction_id', 'merchant_category', 'amount', 'expense_type']])

       transaction_id merchant_category  amount   expense_type
20      TXN0000000021              Food    1341  non-essential
26      TXN0000000027              Food    1276  non-essential
32      TXN0000000033          Shopping    1693  non-essential
36      TXN0000000037          Shopping    7987  non-essential
37      TXN0000000038          Shopping    5154  non-essential
...               ...               ...     ...            ...
237567  TXN0000249942              Food    1757  non-essential
237603  TXN0000249979             Other    2390  non-essential
237604  TXN0000249980          Shopping    1644  non-essential
237605  TXN0000249981          Shopping    5177  non-essential
237611  TXN0000249988          Shopping    1568  non-essential

[31290 rows x 4 columns]